<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&family=Yuji+Syuku&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yuji+Syuku&family=Zen+Antique&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <ul class="navigator">
        <li class="navigator-child"><a href="/top">最新</a></li>
        <li class="navigator-child"><a href="/signup">登録</a></li>
        <li class="navigator-child"><a href="/signin">名乗</a></li>
        <li class="navigator-child"><a href="/post-haiku">句作</a></li>
        <li class="navigator-child"><a href="/timeline">一覧</a></li>
      </ul>
    </nav>
  {% block content %}
    <!-- ここにメインコンテンツを書く -->
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>