{% extends "index.html" %}
{% block content %}
<h2 class="page-name">新規登録</h2>
{% if err!="" %}
<h4>{{err}}</h4>
{% endif %}
<form class="form-signin" action="/signup" method="POST" enctype="multipart/form-data">
	<div class="form-floating">
		<input type="text" class="form-control" id="floatingInput" name="name" placeholder="Your name">
		<label for="floatingInput">Your name</label>
	</div>
	<div class="form-floating">
		<input type="password" class="form-control" name="password" placeholder="Password">
		<label for="floatingPassword">Password</label>
	</div>
	<input class="w-100 btn btn-lg btn-primary" type="submit" value="登録">
</form>
{% endblock %}